.contenedor {
  height: 500px;
  background-color: var(--background-box);
  border-radius: 20px;
  margin: 60px;
  padding: 0 20px;
  position: relative;
  overflow: hidden;
}
.mas-ven{
  font-size: 30px;
  text-transform: uppercase;
  font-size: xx-large;
  text-decoration: underline;
}
.slider {
  display: flex;
  width: 100%;
  height: 430px;
  overflow: visible;
}
.slider{
  animation: cambia 15s infinite alternate linear;
}
.slider .producto {
  flex: 0 0 100%;
  width: 100%;
  object-fit:fill;
}
@keyframes cambia{
  0% {margin-left: 0;}
  19%{margin-left: 0;}
  22%{margin-left: -100%;}
  41%{margin-left: -100%;}
  44%{margin-left: -200%;}
  63%{margin-left: -200%;}
  66%{margin-left: -300%;}
  87%{margin-left: -300%;}
  90%{margin-left: -400%;}
  100%{margin-left: -400%;}
}
.title{
  margin: 10px;
  display: block;
  text-align: center;
  font-size: xx-large;
  text-transform: uppercase;
}
.display{
  display: inline-flex;
}
.block{
  display: block;
}
.imagen{
  align-items: center;
  width: 320px;
  height: 320px;
  margin-left: 20px;
  margin-right: 10px;
}
@media(max-width:580px){
  .contenedor{
    height: 340px;
  }
  .imagen{
    width: 200px;
    height: 200px;
  }
  .mas-ven{
    font-size: x-large;
  }
  .title{
    font-size: x-large;
  }
}  
@media(max-width:880px){
  .imagen{
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .display{
    display: block;
  }
  .block{
    width: 100%;
    height: 100%;
  }
  .none{
    display: none;
  }
}
.text{
  margin: 20px;
  font-size: x-large;
  margin-right: 70px;
}
.precio{
  margin-left: 20px;
}
a{
  list-style-type:none;
  color:black;
  text-decoration: none;
}