<div class="contenedor carousel">
    <h2 class="mas-ven">Mas Vendidos</h2>
    <div class="slider">
        <div *ngFor="let ropa of masVendidos" class="producto">
            <a href="product/{{ropa.id}}">
                <h3 class="title">{{ropa.title}}</h3>
                <div class="display">
                    <div class="block">
                        <img [src]="ropa.images" alt="image" class="imagen" >
                    </div>
                    <div class="block none">
                        <p class="text">{{ropa.descripcion}}</p>
                        <p class="precio" >${{ropa.precio}} </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>