<div class="contenedor white">
    <div class="inline">
        <h2>{{titulo}} </h2>
        <button class="boton boton-1" [disabled]="disable0()" (click)="left()">&lt;</button>
        <button class="boton boton-2" [disabled]="disableMax()" (click)="right()">&gt;</button> 
    </div>
</div>
<div class="center">
    <div *ngFor="let ropa of dato" class="producto">
        <app-vista class="m-auto" [producto]="ropa"></app-vista>
    </div>
</div>
<div class="boton-pos">
    <button class="boton-style" [disabled]="disable0()" (click)="left()">&lt;</button>
    <button class="boton-style" [disabled]="disableMax()" (click)="right()" >&gt;</button> 
</div>