.contenedor{
    width: 100%;
    display: block;
}
.white{
    background-color: var(--background-box);
}
.inline{
    width: 100%;
    display: flex;
    margin: 35px 0;
}
h2{
    text-transform: uppercase;
    font-size: xx-large;
    text-decoration: underline;
}
h2{
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}
.boton-pos{
    display: flex;
    justify-content: center;
    margin: 40px;
}
.m-auto{
    margin: auto;
}
.boton-style{
    background-color: var(--buton-black);
    cursor: pointer;
    color: var(--color-white);
    width: 40%;
    height: 60px;
    font-size: 30px;
    margin: 20px;
    border: 0px;
}
.boton-style:hover{
    color: black;
    background: linear-gradient(90deg, rgb(0,0,0)0%,rgb(136,136,136)50%,rgb(0,0,0)100%);
}
.boton-style:disabled{
    color: white;
    background: var(--buton-black-efect);
    cursor:default;
}
.boton-style:disabled:hover{
    color: white;
    background: var(--buton-black-efect);
    cursor:default;
}
.boton{
    background-color: var(--buton-black);
    border: 0px;
    color: var(--color-white);
    cursor: pointer;
    position: relative;
    height: 30px;
    font-size: 20px;
    width: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
.boton:hover{
    color: black;
    background-color: var(--buton-black-efect);
}
.boton:disabled{
    color: white;
    background-color: var(--buton-black-efect);
    cursor:default;
}
.boton:disabled:hover{
    color: white;
    background-color: var(--buton-black-efect);
    cursor:default;
}
.boton-1{
    right: 30px;
}
.boton-2{
    right: 10px;
}
.center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.producto{
    width: 200px;
    height: 320px;
    background-color: var(--background-box);
    margin:30px;
    padding:30px;
    border-radius: 10px;
}
.producto:hover{
    animation: pulse-big 100ms both linear;
}