.noitem{
    text-align: center;
}
ul{
    margin: 30px;
    margin-top: 0px;
    display: block;
    background-color: white;
    padding: 15px;
}
li{
    justify-content: space-between;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.none{
    list-style-type: none;
    display: inline-flex;
    margin: 5px;
}
.size{
    margin: 5px;
    width: 30px;
    height: 30px;
}
.position{
    background-color: white;
    position: relative;
    justify-content: flex-end;
    margin: 20px;
    display: flex;
}
.cantidad{
    width: 40px;
    height: 20px;
    margin: auto;
    text-align: center;
    justify-content: center;
}
.title{
    width: 50px;
    height: 20px;
    margin: auto;
}
.precio{
    margin: auto;
    width: 20px;
    height: 20px;
}
.size{
    width: 20px;
    height: 20px;
}